<main class="profile-page">
    <section class="profile-banner">
        <article class="banner-content">
            <div class="user-name">
                <div class="profile-name">
                    <div class="page-header">
                        {{ userProfile?.firstname }} {{ userProfile?.lastname }}
                    </div>
                    <div class="subtitle2">
                        Welcome!
                    </div>
                </div>
            </div>
            <div class="user-image">
                <nz-avatar [nzSize]="avatarSize" 
                    [nzText]="userInitials"
                    style="background-color:#d12e26;">
                </nz-avatar>
            </div>
        </article>
    </section>

    <section class="main-section">
        <div class="subtitle">Personal Details</div>
        <div class="mini-section-divider"></div>
        <article>
            <p>
                <span class="text-muted">Firstname: </span>
                {{ userProfile?.firstname }}
            </p>
            <p>
                <span class="text-muted">Lastname: </span>
                {{ userProfile?.lastname }}
            </p>
            <p>
                <span class="text-muted">Email: </span>
                <span style="font-weight: bold;">{{ userProfile?.email }}</span>
            </p>
            <p style="margin-top: 32px;"><a class="href-link" (click)="updatePD()">Update Details</a></p>
        </article>
    </section>
</main>
