@import '../../../global.scss';

.content {
  margin-top: 24px;
  margin-bottom: 24px;
}
.form {
  width: 100%;
//   @include respond-to(handhelds) {
//     padding: 64px 16px;
//   }
}

.form-label {
  color: #ffffff;
  margin-top: 0;
  padding-bottom: 0;
}

.submit-btn {
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 16px;
  color: #ffffff;
  background-color: #d12e26;
  border: none;
}

.login-info {
  font-weight: 500;
  margin-top: 24px;
}
.signup-link {
  color: #1890ff;
  cursor: pointer;
  padding-left: 6px;
  text-decoration: underline;
}
