@import '../../../global.scss';

.movie-summary {
  p {
    color: rgb(255, 255, 255, 0.8);
  }
  @include respond-to(handhelds) {
    text-align: left;
  }
}
.movie-overview {
  font-size: 16px;
  @include respond-to(handhelds) {
    text-align: left;
    padding-top: 2px;
  }
}
.mini-section-divider {
  width: 100%;
  max-width: 100%;
  border-bottom: 4px solid rgb(34, 34, 34,);
}
.text-muted {
  color: rgb(255, 255, 255, 0.5);
  margin-right: 6px;
  @include respond-to(handhelds) {
    display: none;
  }
}
.dot-icon {
  margin-right: 6px;
  margin-left: 6px;
  font-size: 6px;
  color: rgb(255, 255, 255);
}
.sub-title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  @include respond-to(handhelds) {
    font-size: 18px;
  }
}

.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  // margin-top: 8px;
}

.production-data {
  width: 27%;
  max-width: 27%;
  margin-top: 12px;
  margin-right: 24px;
  border-radius: 8px;
  height: fit-content;

  @include respond-to(handhelds) {
    width: 45%;
    max-width: 45%;
    margin-top: 6px;
    margin-right: 12px;
  }
}
.ratings-data {
  width: 27%;
  max-width: 27%;
  margin-top: 6px;
  margin-right: 24px;
  border-radius: 8px;
  height: 73px;

  @include respond-to(handhelds) {
    width: 45%;
    max-width: 45%;
    margin-right: 12px;
    height: 85px;
  }
}
.user-score {
  width: 27%;
  max-width: 27%;
  margin-top: 6px;
  margin-right: 24px;
  border-radius: 8px;
  height: 70px;

  @include respond-to(handhelds) {
    margin-right: 6px;
  }
}

.production-company {
  width: 45%;
  max-width: 45%;

  @include respond-to(handhelds) {
    width: 100%;
    max-width: 100%;
    margin-top: 6px;
    margin-right: 12px;
  }
}

.show-more-btn {
  text-align: left !important;
  margin-bottom: 12px;

  a {
    color: rgba(209, 46, 38);
  }

  .btn-icon {
    padding-left: 4px;
  }

}

.second-sub-title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-bottom: 4px;
  @include respond-to(handhelds) {
    font-size: 16px;
  }
}
.rating {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-bottom: 4px;
}
.company-name,
.company-logo {
  padding-right: 12px;
}

::ng-deep .ant-progress {
  margin-right: 8px;
  margin-bottom: 4px;
  background-color: #0e243f;
  padding: 4px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.like-movie {
  margin-top: 8px;
  margin-right: 8px;
}
.movie-site {
  cursor: pointer;
  margin-top: 18px;
  margin-right: 8px;
  a {
    color: rgba(255, 255, 255);
  }
}
.movie-site a:hover {
  color: rgba(209, 46, 38);
}
::ng-deep .ant-progress:hover {
  font-weight: bold;
}
::ng-deep .ant-progress-circle .ant-progress-text,
.heart-icon,
::ng-deep .ant-progress-circle.ant-progress-status-success .ant-progress-text {
  color: #ffffff;
}
.heart-icon {
  font-size: 28px;
  cursor: pointer;
}
.heart-icon:hover {
  color: rgba(209, 46, 38);
  font-size: 29px;
}
.liked { // Liked movie has a red heart
  color: rgba(209, 46, 38);
  font-size: 29px;
  cursor: pointer;
}

#onHandset {
  @include respond-to(handhelds) {
    display: none;
  }
}
