<div class="movie-summary">
    <p *ngIf="selectedMovie?.imdb_id; else noImDb">
        <span *ngIf="moreDetails?.Rated">
            <span class="text-muted">Rated</span>
            <nz-avatar [nzShape]="'square'" [nzText]="moreDetails?.Rated" style="background-color:#87d068;"></nz-avatar>
            <fa-icon class="dot-icon" [icon]="['fas', 'circle']"></fa-icon>
        </span>

        <span *ngIf="moreDetails?.Released">
            <span class="text-muted">Initial Release</span>
            {{ moreDetails?.Released }}
            <fa-icon class="dot-icon" [icon]="['fas', 'circle']"></fa-icon>
        </span>

        <span *ngIf="moreDetails?.Genre">
            <span class="text-muted">Genre</span>
            {{ moreDetails?.Genre }}
            <fa-icon class="dot-icon" [icon]="['fas', 'circle']"></fa-icon>
        </span>

        <span *ngIf="selectedMovie?.runtime !== '0'">
            <span class="text-muted">Runtime</span>
            {{ selectedMovie?.runtime }}
        </span>
    </p>
    <ng-template #noImDb>
        <p>
            <span class="text-muted">Rated</span>
            <nz-avatar [nzShape]="'square'" nzText="N/A" style="background-color:#87d068;"></nz-avatar>
            <fa-icon class="dot-icon" [icon]="['fas', 'circle']"></fa-icon>

            <span *ngIf="selectedMovie?.release_date">
                <span class="text-muted">Initial Release</span>
                {{ selectedMovie?.release_date }}
                <fa-icon class="dot-icon" [icon]="['fas', 'circle']"></fa-icon>
            </span>

            <span *ngIf="selectedMovie?.genres?.length > 0">
                <span class="text-muted">Genre</span>
                <span *ngFor="let genre of selectedMovie?.genres; index as i">
                    {{ genre?.name }}<span *ngIf="i !== selectedMovie?.genres?.length - 1">,</span>
                </span>
                <fa-icon class="dot-icon" [icon]="['fas', 'circle']"></fa-icon>
            </span>

            <span *ngIf="selectedMovie?.runtime !== '0'">
                <span class="text-muted">Runtime</span>
                {{ selectedMovie?.runtime }}
            </span>
        </p>
    </ng-template>
    <h3 class="sub-title">Overview</h3>
    <p nz-typography class="movie-overview">{{selectedMovie?.overview}}</p>
    <div class="flex-container">
        <div class="user-score" *ngIf="selectedMovie?.vote_average !== 0">
            <nz-progress nzType="circle" [nzPercent]="selectedMovie?.vote_average" [nzWidth]="52" [nzStrokeWidth]="8"
                [nzFormat]="progressFormart"
                [nzStrokeColor]="(selectedMovie?.vote_average<=64)? { '50%': '#f3f705'}:{ '100%': '#63cd82' }">
            </nz-progress>
            <span id="onHandset" class="rating">User Score</span>
        </div>
        <div class="user-score">
            <div class="like-movie" *ngIf="!isAuthenticated">
                <fa-icon *ngIf="!isFavourite" id="{{selectedMovie?.id}}" class="heart-icon" nz-tooltip
                    nzTooltipTitle="{{$Handset ? '' : 'Like movie'}}" nzTooltipColor="#d12e26" [icon]="['fas', 'heart']"
                    (click)="likeMovie($event)">
                </fa-icon>
                <a nz-button nzType="link" nz-popconfirm nzOkText="Login" (nzOnConfirm)="login()"
                    nzPopconfirmTitle="Login to remove a movie from your favourites" nzPopconfirmPlacement="top">
                    <fa-icon *ngIf="isFavourite" id="{{selectedMovie?.id}}" class="heart-icon liked" nz-tooltip
                        nzTooltipTitle="{{$Handset ? '' : 'Unlike movie'}}" nzTooltipColor="#d12e26"
                        [icon]="['fas', 'heart']">
                    </fa-icon>
                </a>
            </div>
            <div class="like-movie" *ngIf="isAuthenticated">
                <fa-icon id="{{selectedMovie?.id}}" class="heart-icon" [ngClass]="isFavourite ? 'liked' : ''" nz-tooltip
                    nzTooltipTitle="{{$Handset ? '' : (isFavourite ? 'Unlike movie' : 'Like movie')}}"
                    nzTooltipColor="#d12e26" [icon]="['fas', 'heart']" (click)="likeMovie($event)"></fa-icon>
            </div>
        </div>
        <div class="user-score" *ngIf="selectedMovie?.homepage && selectedMovie?.homepage !== ''">
            <p class="movie-site">
                <a href="{{selectedMovie.homepage}}" target="_blank">
                    <fa-icon style="margin-right: 6px;" [icon]="['fas', 'play']"></fa-icon>
                    Watch
                </a>
            </p>
        </div>
    </div>
    <div class="mini-section-divider"></div>

    <h4 class="second-sub-title" style="margin-top: 12px;" *ngIf="moreDetails?.Ratings?.length > 0">
        Rating
    </h4>
    <div class="flex-container" *ngIf="moreDetails?.Ratings?.length > 0">
        <div class="ratings-data" *ngFor="let rating of moreDetails?.Ratings">
            <h4 class="rating">{{ rating?.Value }}</h4>
            <p>{{ rating?.Source }}</p>
        </div>
    </div>
    <div class="mini-section-divider" *ngIf="moreDetails?.Ratings?.length > 0"></div>

    <h4 class="second-sub-title" style="margin-top: 12px;"
        *ngIf="moreDetails?.Awards && moreDetails?.Awards !== '' && moreDetails?.Awards !== 'N/A'">
        Awards
    </h4>
    <div class="flex-container"
        *ngIf="moreDetails?.Awards && moreDetails?.Awards !== '' && moreDetails?.Awards !== 'N/A'">
        <p>{{ moreDetails?.Awards }}</p>
    </div>
    <div class="mini-section-divider"
        *ngIf="moreDetails?.Awards && moreDetails?.Awards !== '' && moreDetails?.Awards !== 'N/A'"></div>

    <div class="flex-container" *ngIf="moreDetails?.Language || moreDetails?.Writer || moreDetails?.Actors">
        <div class="production-data" *ngIf="moreDetails?.Actors">
            <h4 class="second-sub-title">Actors</h4>
            <p>{{ moreDetails?.Actors }}</p>
        </div>
        <div class="production-data" *ngIf="moreDetails?.Writer">
            <h4 class="second-sub-title">Writers</h4>
            <p>{{ moreDetails?.Writer }}</p>
        </div>
        <div class="production-data" *ngIf="moreDetails?.Language">
            <h4 class="second-sub-title">Languages</h4>
            <p>{{ moreDetails?.Language }}</p>
        </div>
    </div>
    <div class="mini-section-divider" *ngIf="moreDetails?.Language || moreDetails?.Writer || moreDetails?.Actors"></div>

    <h4 class="second-sub-title" *ngIf="selectedMovie?.production_companies?.length > 0" style="margin-top: 12px;">
        Production Companies
    </h4>
    <div class="flex-container" *ngIf="selectedMovie?.production_companies?.length > 0">
        <div class="production-company" *ngFor="let company of selectedMovie?.production_companies; index as i">
            <p *ngIf="i < 2 && !loadMore">
                <span class="company-logo">
                    <nz-avatar [nzSize]="42" nzText="PC" nzSrc="{{company?.logo_path}}"
                        style="background-color:#87d068;"></nz-avatar>
                </span>
                <span class="company-name">{{ company?.name }}</span>
            </p>
            <p *ngIf="loadMore">
                <span class="company-logo">
                    <nz-avatar [nzSize]="42" nzText="PC" nzSrc="{{company?.logo_path}}"
                        style="background-color:#87d068;"></nz-avatar>
                </span>
                <span class="company-name">{{ company?.name }}</span>
            </p>
        </div>
    </div>
    <div class="show-more-btn" *ngIf="selectedMovie?.production_companies?.length > 2">
        <a (click)="showMore()">
            <span *ngIf="loadMore; else show_more">
                Show less
                <fa-icon class="btn-icon" [icon]="['fas', 'angle-left']"></fa-icon>
            </span>
            <ng-template #show_more>
                Show more
                <fa-icon class="btn-icon" [icon]="['fas', 'angle-right']"></fa-icon>
            </ng-template>
        </a>
    </div>
    <div class="mini-section-divider" *ngIf="selectedMovie?.production_companies?.length > 0"></div>

    <div class="flex-container">
        <div class="production-data" *ngIf="moreDetails?.Country; else showTmDB">
            <h4 class="second-sub-title">Production Countries</h4>
            <p>{{ moreDetails?.Country }}</p>
        </div>
        <ng-template #showTmDB>
            <div class="production-data" *ngIf="selectedMovie?.production_countries?.length > 0">
                <h4 class="second-sub-title">Production Countries</h4>
                <p>
                    <span *ngFor="let country of selectedMovie?.production_countries; index as i">
                        {{ country?.name }}
                        <span *ngIf="i !== selectedMovie?.production_countries?.length - 1">,</span>
                    </span>
                </p>
            </div>
        </ng-template>
        <div class="production-data" *ngIf="selectedMovie?.budget !== '$0'">
            <h4 class="second-sub-title">Budget</h4>
            <p>{{ selectedMovie?.budget }}</p>
        </div>
    </div>
</div>
