<div class="nav-bar">
    <div class="brand-logo" (click)="navigateTo()">
        Mini-Netflix
    </div>
    <div class="nav-space"></div>
    <div *ngIf="isHandset$ | async; else normalMenu" nz-dropdown [nzDropdownMenu]="mobileMenu" nzTrigger="click"
        class="sub-menu">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </div>
</div>

<nz-dropdown-menu #mobileMenu="nzDropdownMenu">
    <ul nz-menu nzMode="vertical">
        <li nz-menu-item class="on-handset" (click)="navigateTo('/')">
            Home
        </li>
        <li nz-menu-item class="on-handset" (click)="navigateTo('/movies')">
            TV Movies
        </li>
        <li nz-menu-item class="on-handset" (click)="navigateTo('/shows')">
            TV Shows
        </li>
        <li nz-menu-item class="on-handset" (click)="navigateTo('/movies/favourites')">
            Favourites
        </li>
        <li nz-menu-item class="on-handset" (click)="login()" *ngIf="!authenticated">
            <button nz-button nzDanger nzType="primary" class="menu-button">
                Login
            </button>
        </li>
        <li nz-menu-item class="on-handset" (click)="navigateTo('/register')" *ngIf="!authenticated">
            <button nz-button nzDanger nzType="primary" class="menu-button2">
                Sign Up
            </button>
        </li>
        <li nz-menu-item class="on-handset" (click)="navigateTo('/profile')" *ngIf="authenticated">
            <fa-icon [icon]="['fas', 'user']" style="padding-right: 6px;"></fa-icon>
            My Profile
        </li>
        <li nz-menu-item class="on-handset" (click)="logout()" *ngIf="authenticated">
            <button nz-button nzDanger nzType="primary" class="menu-button2">
                Logout
            </button>
        </li>
    </ul>
</nz-dropdown-menu>

<ng-template #normalMenu>
    <div>
        <ul nz-menu nzMode="horizontal" style="border-bottom: none;">
            <li nz-menu-item (click)="navigateTo('/')"
                style="border-bottom: none; margin-left: 8px ; margin-right: 8px ;">
                Home
            </li>
            <li nz-menu-item (click)="navigateTo('/movies')"
                style="border-bottom: none; margin-left: 8px ; margin-right: 8px ;">
                TV Movies
            </li>
            <li nz-menu-item (click)="navigateTo('/shows')"
                style="border-bottom: none; margin-left: 8px ; margin-right: 8px ;">
                TV Shows
            </li>
            <li nz-menu-item (click)="navigateTo('/movies/favourites')"
                style="border-bottom: none; margin-left: 8px ; margin-right: 8px ;">
                Favourites
            </li>
            <li nz-menu-item (click)="login()"
                *ngIf="!authenticated" style="border-bottom: none; margin-left: 8px ; margin-right: 4px ;">
                <button nz-button nzDanger nzType="primary" class="menu-button">
                    Login
                </button>
            </li>
            <li nz-menu-item (click)="navigateTo('/register')"
                *ngIf="!authenticated" style="border-bottom: none; margin-left: 0 ; margin-right: 8px ;">
                <button nz-button nzDanger nzType="primary" class="menu-button2">
                    Sign Up
                </button>
            </li>
            <li nz-menu-item nz-dropdown [nzDropdownMenu]="profileMenu" nzTrigger="click"
                *ngIf="authenticated" style="border-bottom: none; margin-left: 8px ; margin-right: 4px ;">
                <button nz-button nzDanger nzType="primary" class="menu-button2">
                    <nz-avatar [nzSize]="24" [nzText]="userInitials" style="background-color:#d12e26;"></nz-avatar>
                    <span style="padding-left: 6px;">Profile</span>
                </button>
            </li>
        </ul>
    </div>
</ng-template>

<nz-dropdown-menu #profileMenu="nzDropdownMenu">
    <ul nz-menu nzMode="vertical">
        <li nz-menu-item class="on-handset" (click)="navigateTo('/profile')">
            <fa-icon [icon]="['fas', 'user']" style="padding-right: 6px;"></fa-icon>
            My Profile
        </li>
        <li nz-menu-item class="on-handset" (click)="logout()">
            <button nz-button nzDanger nzType="primary" class="menu-button2">
                Logout
            </button>
        </li>
    </ul>
</nz-dropdown-menu>

