@import "../global.scss";

.layout {
  min-height: 100vh;
  background-color: rgba(21, 20, 20);
}

nz-header {
  position: fixed;
  background-color: rgba(11, 11, 11);
  width: 100%;
  z-index: 10;
  padding: 0 32px 0 32px;

  @include respond-to(handhelds) {
    padding: 0 16px 0 16px;
  }
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0;
  margin-top: 64px;
}

nz-footer {
  height: fit-content;
  padding: 0;
  background-color: rgba(11, 11, 11);
}
